# PostgreSQL
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# Redis
SPRING_DATA_REDIS_HOST=
SPRING_DATA_REDIS_PORT=
SPRING_DATA_REDIS_USERNAME=
SPRING_DATA_REDIS_PASSWORD=
SPRING_DATA_REDIS_DATABASE=

# Mail (Local testing with smtp4dev)
SPRING_MAIL_HOST=
SPRING_MAIL_PORT=
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_PROTOCOL=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_SSL_ENABLE=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=


# SPRING_MAIL_HOST=
# SPRING_MAIL_PORT=
# SPRING_MAIL_USERNAME=
# SPRING_MAIL_PASSWORD=

# JWT
APP_JWT_SECRET=
APP_JWT_EXPIRATION=
APP_JWT_REFRESH_EXPIRATION=

#Ad Service URL
ADS_SERVICE_URL=

# Frontend URL
APP_FRONTEND_URL=

WASABI_ACCESS_KEY=
WASABI_SECRET_KEY=
WASABI_BUCKET_NAME=
WASABI_REGION=
WASABI_ENDPOINT=
WASABI_PUBLIC_URL=


# CLAM ANTIVIRUS
CLAM_AV_HOST=
CLAM_AV_PORT=

# Twilio
TWILIO_MESSAGING_SERVICE_SID=
TWILIO_ACCOUNT_SID=
TWILIO_TOKEN=
TWILIO_PHONE_NUMBER=

# NCMEC
NCMEC_USERNAME=
NCMEC_PASSWORD=

STRIPE_API_KEY=



# Captcha
TURNSTILE_SECRET_KEY=